

/*GIFTAPAD LOGO*/

#giftapadlogo img{
    height: 20%;
    width: 10%;
    margin-top: -10px 0 0 0px;
    
}

/*VOLUNTEER PICS*/
#first-col img{
    height: 50%;
    width: 70%;

}

/**/

body{
    font: 15px/1.5 Arial, Helvetica,sans-serif;
    padding:0;
    margin:0;
    background-color:white;
}

/* Global */
.container{
    width:80%;
    margin:auto;
    overflow:hidden;
}


.button_1{
    height: 38px;
    background:#e8491d;
    border:0;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
}

ul{
    margin:-20px;
    padding:-10px;
}
/* Header */

header{
    background:white;
    padding-top: 10px;
    /*min-height: 30px;*/
   /* border-bottom:#e8491d 3px solid;*/
}



header a{
    color:black;
    text-decoration: none;
    font-size:16px;
}

header li{
   /* float:left;*/
    display:inline;
    padding: 0px 40px 0 20px;
}

header #giftapadlogo{
    float:left;
}


header nav{
    float:right;
    margin-top:-40px;

}
header .highlight, header .current a{
    color:#FF1493;
    font-weight:bold;
}

header a:hover{
    color:blue;
    font-weight:bold;
}


/*SHOWCASE*/

#showcase{
min-height:400px;
background:url(https://res.cloudinary.com/ibrahimygana/image/upload/v1567165519/START%20NG/sapegt5kvfpyvgrbzlsq.jpg);
text-align:center;
color:#ffffff;
background-position:center;
background-size:cover;
opacity: 0.7;
}




#showcase h1{
    margin-top:100px;
    font-size: 55px;
    margin-bottom:10px;
}

#showcase p{
    font-size:20px;
}

/* Boxes */
#boxes{
    margin-top:20px;
}

#boxes .box{
    float:left;
    text-align: center;
    width: 30%;
    padding: 10px;

}



div#first-col{
    float:left;
    width:60%;
}

div#second-col{
    float:right;
    width:40%;
    margin-top:10px;
}



footer{
    padding:20px;
    margin-top:20px;
    color:#ffffff;
    background-color:#FF1493;
    text-align:center;
}
