/*GIFTAPAD LOGO*/

#giftapadlogo img{
    height: 20%;
    width: 10%;
    margin-top: -10px 0 0 0px;
    
}




body{
    background-color:azure;
    font: 15px/1.5 Arial, Helvetica,sans-serif;
}



header{
    background:white;
    position: fixed;
  z-index: 1;
  width: 100%;
  top: 33px;
  height: 80px;
  margin-top: -10px;
 background-color: #FFFFFF;
}


ul{
    margin:-20px;
    padding:-10px;
}
/* Header */

header{
    background:white;
    margin-top:-30px;
    position:fixed;
    /*min-height: 30px;*/
   /* border-bottom:#e8491d 3px solid;*/
}



header a{
    color:black;
    text-decoration: none;
    font-size:16px;
}

header li{
   /* float:left;*/
    display:inline;
    padding: 0px 40px 0 20px;
}

header #giftapadlogo{
    float:left;
}


header nav{
    float:right;
    margin-top:-40px;

}
header .highlight, header .current a{
    color:#FF1493;
    font-weight:bold;
}

header a:hover{
    color:blue;
    font-weight:bold;
}
.container{
    width:80%;
    margin:auto;
    overflow:hidden;
}

p#heading {
    text-align: center;
    font-size:20px;
    margin-top:100px;
}


/*Team image styling*/
#team-list img{
    height: 100px;
    width: 100px;
    border-radius: 60%;
}

/*style to make image appear in gallery-like structure*/
/*picture on mobile*/
#team-list{
    float: left;
    width:50%;
    text-align: center;
}
/* display for tablets*/

@media (min-width:400px){
    #team-list{
        float: left;
        width:35%;
        text-align: center;
    }
}

@media (min-width:720px){
    #team-list{
        float: left;
        width:25%;
        text-align: center;
    }
}
/*big screen display*/
@media (min-width:1000px){
    #team-list{
        float: left;
        width:20%;
        text-align: center;
    }
}
#team{
    padding-bottom: 10%;
}
figcaption{
    font-style: italic;
    font-size: smaller;
    line-height: 0.5;
    font-weight: bold;
    
}
#team-list:hover{
    transform: scale(1.2);
    color: rgb(14, 130, 231);
}
h1{
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
